<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="Integrationsbolaget - Hem" />
		<meta
			property="og:image"
			content="https://www.integrationsbolaget.se/wp-content/uploads/2022/02/IB_start_2.jpg"
		/>
		<meta property="og:description" content="" />
		<meta property="og:url" content="https://integrationsbolaget.se/" />
		<link rel="icon" type="image/svg+xml" href="/molnbolaget/favicon.png" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Roboto, sans-serif;
		color: white;
		background-color: black;
	}
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 0px;
	}
</style>
